VITE_GAS_URL="https://script.google.com/macros/s/AKfycbz_YOUR_SCRIPT_ID/exec"
VITE_ESTATES="Sample Estate,North Estate,South Estate,East Estate,West Estate"
VITE_GAS_SECRET="your_shared_secret_here"
VITE_MAINTENANCE_MODE="false"
VITE_DISABLED_MODE="false"
